  <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scrape Properties</title>
    </head>
    <body>
        <h1>Enter Details to Scrape Properties</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=20) }}<br>
            </p>
            <p>
                {{ form.municipality.label }}<br>
                {{ form.municipality(size=20) }}<br>
            </p>
            <p>
                {{ form.state.label }}<br>
                {{ form.state(size=20) }}<br>
            </p>
            <p>
                {{ form.listing_type.label }}<br>
                {{ form.listing_type() }}<br>
            </p>
            <p>
                {{ form.past_days.label }}<br>
                {{ form.past_days(size=20) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
    </html>